@font-face {
	font-family: 'AbrilText';
	src: url('../fonts/AbrilText-Italic.eot');
    src: url('../fonts/AbrilText-Italicd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AbrilText-Italic.html') format('woff2'),
        url('../fonts/AbrilText-Italic.woff') format('woff'),
        url('../fonts/AbrilText-Italic.ttf') format('truetype'),
        url('../fonts/AbrilText-Italic.svg#AbrilText') format('svg');
	font-weight: normal;
	font-style: italic;
}