@model IEnumerable<WebApplication1.Models.Album>
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-6">
        <div class="about-img">
            <span class="about-border-one"></span>
            <span class="about-border-two"></span>
            <span class="about-border-three"></span>
            <span class="about-border-four"></span>
            <div class="about-caro owl-carousel">
                <!-- Single about carousel -->
                <div class="single-caro">
                    <img src="~/frontend/img/about/01.jpg" alt="">
                </div>
                <!-- Single about carousel -->
                <div class="single-caro">
                    <img src="~/frontend/img/about/02.jpg" alt="">
                </div>
                <!-- Single about carousel -->
                <div class="single-caro">
                    <img src="~/frontend/img/about/03.jpg" alt="">
                </div>
            </div>
        </div><!-- // End About carousel -->
    </div>
    <div class="col-md-6">
        <div class="stories-txt">
            <h3>TIYA &amp; BOSU WEDDING </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dore magna aliqua.Ut exercitation ullamco laboris nisi ut aliquip commodo consequat.Duis aute irure dolor ireprehenderit in voluptate velitcillum dolore  fugiat nulla pariatur...</p>
            <a href="wedding-single-stories.html">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>