<!doctype html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
 <!--<![endif]-->
<!-- Mirrored from hiknik.com/soulart/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Nov 2017 04:15:09 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Soulart - Wedding Planner &amp; Photography html Template</title>
    <meta name="description" content="Soulart Wedding Planner and Photography html Template">
    <meta name="keywords" content="wedding, bride, couple, wedding template, wedding multipage, groom, modern, responsive, html 5, marriage, elegant, elegant wedding template">
    <meta name="author" content="yufaui">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">

    <!-- Google Fonts:  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Css File -->
    <link rel="stylesheet" href="~/frontend/css/fatface.css">
    <link rel="stylesheet" href="~/frontend/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontend/css/plugin.css">
    <link rel="stylesheet" href="~/frontend/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/frontend/css/responsive.css">

    <!-- Modernizer -->
    <script src="~/frontend/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Preloader -->
    <div class="preloader">
        <div class="cont">
            <div class="line square"></div>
            <div class="line square2"></div>
            <div class="line square3"></div>
            <div class="line square4"></div>

        </div>
    </div>

    <!-- Main header area -->
    <header class="main-header-area">
        <!-- Header top area -->
        <div class="header-top-area">
            <div class="container">
                  @RenderBody()
                <div class="row">
                    <div class="col-sm-6">
                        <div class="hdr-info">
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> info@soulart.com</a></li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> +8801777-222-333</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- Header social link -->
                        <div class="hdr-social text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- // End Header top area -->
        <!-- Header bottom area -->
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <!-- Logo area -->
                        <div class="logo-area">
                            <a href="index.html">
                                <img src="~/frontend/img/logo.png" alt="Logo">
                            </a>
                        </div>
                        <!-- Mobile menu -->
                        <div class="mobile-menu visible-xs visible-sm"></div>
                    </div>
                    <div class="col-lg-10">
                        <!-- Main menu -->
                        <nav class="main-menu text-right visible-lg visible-md">
                            <ul>
                                <li class="active">
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Home pge one</a></li>
                                        <li><a href="index-two.html">Home pge two</a></li>
                                        <li><a href="index-three.html">Home pge three</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">About us</a></li>
                                <li>
                                    <a href="wedding-stories.html">Wedding stories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="wedding-stories.html">Wedding stories</a></li>
                                        <li><a href="wedding-single-stories.html">Wedding Single stories</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="photographer.html">Photographer <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="photographer.html">Photographer</a></li>
                                        <li><a href="photographer-single.html">Photographer Single</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="galleries-bridal.html">Galleries <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="galleries-bridal.html">Galleries Bridal</a></li>
                                        <li><a href="galleries-engagement.html">Galleries engagment</a></li>
                                        <li><a href="galleries-wedding.html">Galleries wedding</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="testimonial.html">Testimonial <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="testimonial.html">Testimonial</a></li>
                                        <li><a href="testimonial-single.html">Testimonial Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="packages.html">Packages</a></li>
                                <li>
                                    <a href="blog.html">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-single.html">Blog single</a></li>
                                    </ul>
                                </li>
                                <li><a href="rsvp.html">Rsvp</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav><!-- // End Main menu -->
                    </div>
                </div>
            </div>
        </div><!-- // End Header bottom area -->
    </header><!-- // End Main header area -->
    <!-- Main banner area -->
    <section class="main-banner-area">
        <!-- Banner background effect -->
        <div id="leafContainer" data-image="dandelions"></div>
        <!-- Banner slide-->
        <div class="banner-slide owl-carousel">
            <!-- Single banner area -->
            <div class="single-banner-area jarallax" style="background-image: url(./frontend/img/banner/01.jpg);">
                <div class="banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="banner-content">
                                    <span class="fadeInLeft animated">wonderful story of your love for one another.</span>
                                    <h1 class="fadeInRight animated">love</h1>
                                    <p class="fadeInUp animated">love is best when shared by two. You know that together you are stronger, together you are one. Have a wonderful married life!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single banner area -->
            <!-- Single banner area -->
            <div class="single-banner-area jarallax" style="background-image: url(./frontend/img/banner/02.jpg);">
                <div class="banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="banner-content">
                                    <span class="fadeInLeft animated">Your moment your memories we captured</span>
                                    <h1 class="fadeInRight animated">Wedding</h1>
                                    <p class="fadeInUp animated">Marriage is getting to have a sleepover with your best friend every single night of the week.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single banner area -->
            <!-- Single banner area -->
            <div class="single-banner-area jarallax" style="background-image: url(./frontend/img/banner/03.jpg);">
                <div class="banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="banner-content">
                                    <span class="fadeInLeft animated">true love never quits</span>
                                    <h1 class="fadeInRight animated">commitment</h1>
                                    <p class="fadeInUp animated">
                                        An occasion that joins two hearts in a symphony even more that hopeDimply dummy text
                                        of the printing and typesetting industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single banner area -->
        </div><!-- // End Banner slide-->
    </section><!-- // End Main banner area -->
    <!-- Wedding info area -->
    <section class="wedding-info-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 no-padding">
                    <div class="single-info-heading">
                        <p><i class="fa fa-bank" aria-hidden="true"></i> The largest section</p>
                        <h3 class="block">of wedding vanues</h3>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3 no-padding">
                            <div class="single-info">
                                <span class="count-up">145</span> Vanues
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="single-info info-bg-two">
                                <span class="count-up">365</span> Happy clients
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="single-info info-bg-three">
                                <span class="count-up">346</span> Wedding ideas
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="single-info info-bg-four">
                                <span class="count-up">28</span> Best Packages
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- // End Wedding info area -->
    <!-- Stories area -->
    <section class="about-us-area section-padding">
        <div class="container">
            <!-- Section title -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Wedding stories</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <!-- Stories content -->
            <div class="section-content">
                <div class="bg-title">
                    <span>Wedding</span>
                </div>
                <!-- Single stories content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-storis-content">
                            @*  @await Component.InvokeAsync("AlbumComponent")*@
                            @{
                                Html.RenderAction("Category", "Home");
                            }
                            </div>
                    </div>
                </div><!-- // End Single stories content -->
                <!-- Single stories content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-storis-content alt-storis-content">
                            <div class="row">
                                <div class="col-md-6 col-md-push-6">
                                    <div class="stories-img">
                                        <img src="~/frontend/img/stories/02.jpg" alt="">
                                        <a href="~/frontend/img/stories/02.jpg" data-lightbox="stories" data-title="PINU &amp; MURA WEDDING"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-pull-6">
                                    <div class="stories-txt">
                                        <h3>PINU &amp; MURA wEDDING</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dore magna aliqua.Ut exercitation ullamco laboris nisi ut aliquip commodo consequat.Duis aute irure dolor ireprehenderit in voluptate velitcillum dolore  fugiat nulla pariatur...</p>
                                        <a href="wedding-single-stories.html">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- // End Single stories content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="stories-btn">
                            <a class="theme-btn" href="wedding-stories.html">Scroll down <span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Stories area -->
    <!-- Video area -->
    <section class="video-area jarallax" style="background-image: url('../frontend/img/backgrounds/video-bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="video-txt">
                        <h2>The Power Of  Love</h2>
                        <p>De liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming idtryutit luptaum zzelenit augue duis dolore te facilisi naschetur ridic usceer feugiat malesuada. The floristry business has a significant market in the corporate an social event world, as flowers play a large pameetings.</p>
                        <a class="video-btn" href="https://www.youtube.com/watch?v=EQKevj3Gi1Y"><i class="fa fa-video-camera" aria-hidden="true"></i> view our presentation</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Video area -->
    <!-- Photographer area -->
    <section class="photographer-area section-padding">
        <div class="container">
            <!-- Section title -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Photographer</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <!-- Photographer content -->
            <div class="section-content">
                <div class="bg-title">
                    <span>Biography</span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="photographer-caro owl-carousel">
                            <!-- Single photographer -->
                            <div class="single-photographer-caro">
                                <div class="row">
                                    <!-- photographer images -->
                                    <div class="col-md-6">
                                        <div class="photographer-caro-img">
                                            <img src="~/frontend/img/photographer/01.jpg" alt="">
                                        </div>
                                    </div>
                                    <!-- photographer text -->
                                    <div class="col-md-6">
                                        <div class="photographer-caro-txt">
                                            <p class="caro-alt-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation commodo consequat reprehenderit.</p>
                                            <h3>Exhibitions/Awards</h3>
                                            <p>Neque porro quisquam est, September 1, 2011</p>
                                            <h3>StrongHold, Solo Exhibition, StressPress, Portland</h3>
                                            <p>Best Photographer, March 20, 2012</p>
                                            <h3>Grass Hop National, Portland</h3>
                                            <p>Best Photographer, August 25, 2012</p>
                                            <h2>JOHN DOE</h2>
                                            <span>Chief Photographer</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- // End Single photographer -->
                            <!-- Single photographer -->
                            <div class="single-photographer-caro">
                                <div class="row">
                                    <!-- photographer images -->
                                    <div class="col-md-6">
                                        <div class="photographer-caro-img">
                                            <img src="~/frontend/img/photographer/02.jpg" alt="">
                                        </div>
                                    </div>
                                    <!-- photographer text -->
                                    <div class="col-md-6">
                                        <div class="photographer-caro-txt">
                                            <p class="caro-alt-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation commodo consequat reprehenderit.</p>
                                            <h3>Exhibitions/Awards</h3>
                                            <p>Neque porro quisquam est, September 1, 2011</p>
                                            <h3>StrongHold, Solo Exhibition, StressPress, Portland</h3>
                                            <p>Best Photographer, March 20, 2012</p>
                                            <h3>Grass Hop National, Portland</h3>
                                            <p>Best Photographer, August 25, 2012</p>
                                            <h2>Mokiyur Datta</h2>
                                            <span>Lead Photographer</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- // End Single photographer -->
                            <!-- Single photographer -->
                            <div class="single-photographer-caro">
                                <div class="row">
                                    <!-- photographer images -->
                                    <div class="col-md-6">
                                        <div class="photographer-caro-img">
                                            <img src="~/frontend/img/photographer/03.jpg" alt="">
                                        </div>
                                    </div>
                                    <!-- photographer text -->
                                    <div class="col-md-6">
                                        <div class="photographer-caro-txt">
                                            <p class="caro-alt-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation commodo consequat reprehenderit.</p>
                                            <h3>Exhibitions/Awards</h3>
                                            <p>Neque porro quisquam est, September 1, 2011</p>
                                            <h3>StrongHold, Solo Exhibition, StressPress, Portland</h3>
                                            <p>Best Photographer, March 20, 2012</p>
                                            <h3>Grass Hop National, Portland</h3>
                                            <p>Best Photographer, August 25, 2012</p>
                                            <h2>Shuvo haq</h2>
                                            <span>Senior Photographer</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- // End Single photographer -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-1 col-md-push-5 no-height">
                        <!-- photographer carousel dots-->
                        <div class="photographer-caro-dots"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Photographer area -->
    <!-- Hello area -->
    <section class="hello-area jarallax" style="background-image: url('../frontend/img/backgrounds/hello-bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Hello content -->
                    <div class="hello-content">
                        <h2>Do you want to tell us about your big day ?</h2>
                        <a class="theme-btn" href="contact.html">Say hello <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Hello area -->
    <!-- Galleries area -->
    <section class="galleries-area section-padding">
        <div class="container">
            <!-- Section title -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Galleries</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="galleries-content">
            <!-- Gallery tab area -->
            <div class="gallery-tab-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-title">
                                <span>Recent work</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="gallery-tab-nav">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation">
                                        <a href="#engagment" aria-controls="engagment" role="tab" data-toggle="tab">Engagment</a>
                                    </li>
                                    <li role="presentation" class="active">
                                        <a href="#wedding" aria-controls="wedding" role="tab" data-toggle="tab">Wedding ceremony</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#bridal" aria-controls="bridal" role="tab" data-toggle="tab">Bridal Shower</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="engagment">
                        <!-- Gallery caro -->
                        <div class="swiper-container-engagment">
                            <div class="swiper-wrapper">
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/engagement-big/01.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/engagement-big/02.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/engagement-big/03.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/engagement-big/04.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/engagement-big/05.jpg" alt="">
                                </div><!-- // End Single galleries -->
                            </div>
                            <div class="swiper-gallery-next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="swiper-gallery-prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="gallery-tab-txt">
                                        <h3>TIYA &amp; BOSU WEDDING </h3>
                                        <h5><i class="fa fa-calendar" aria-hidden="true"></i> 10 March, 2017</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla  fotyuri jdydi yuiyer labayui pariatur.</p>
                                        <!-- Gallery Pagination -->
                                        <div class="swiper-pagination-engagment"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="wedding">
                        <!-- Gallery caro -->
                        <div class="swiper-container-wedding">
                            <div class="swiper-wrapper">
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/wedding-big/01.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/wedding-big/02.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/wedding-big/03.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/wedding-big/04.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/wedding-big/05.jpg" alt="">
                                </div><!-- // End Single galleries -->
                            </div>
                            <div class="swiper-gallery-next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="swiper-gallery-prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <!-- Gallery tab text -->
                                    <div class="gallery-tab-txt">
                                        <h3>atique ullah chowdhury &amp; syeda monju ara</h3>
                                        <h5><i class="fa fa-calendar" aria-hidden="true"></i> 10 March, 2017</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla  fotyuri jdydi yuiyer labayui pariatur.</p>
                                        <!-- Gallery Pagination -->
                                        <div class="swiper-pagination-wedding"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bridal">
                        <!-- Gallery caro -->
                        <div class="swiper-container-bridal">
                            <div class="swiper-wrapper">
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/bridal-big/01.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/bridal-big/02.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/bridal-big/03.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/bridal-big/04.jpg" alt="">
                                </div><!-- // End Single galleries -->
                                <!-- Single galleries -->
                                <div class="swiper-slide">
                                    <img src="~/frontend/img/galleries/bridal-big/05.jpg" alt="">
                                </div><!-- // End Single galleries -->
                            </div>
                            <div class="swiper-gallery-next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="swiper-gallery-prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="gallery-tab-txt">
                                        <h3>PINU &amp; MURA wEDDING</h3>
                                        <h5><i class="fa fa-calendar" aria-hidden="true"></i> 10 March, 2017</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla  fotyuri jdydi yuiyer labayui pariatur. </p>
                                        <!-- Gallery Pagination -->
                                        <div class="swiper-pagination-bridal"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="gallery-btn text-center">
                        <a class="theme-btn" href="galleries-bridal.html">View details <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Galleries area -->
    <!-- Offer area -->
    <section class="offer-area jarallax" style="background-image: url('../frontend/img/backgrounds/offer-bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Hello content -->
                    <div class="offer-content">
                        <h2>In summer season</h2>
                        <h3>Super saver offer <span>30%</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Offer area -->
    <!-- Testimonial area -->
    <section class="testimonial-area section-padding gray-bg">
        <div class="container">
            <!-- Section title -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Testimonial</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <!-- Testimonial content -->
            <div class="section-content">
                <div class="bg-title">
                    <span>Clients say’s</span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-caro owl-carousel">
                            <!-- Single testimonial carousel -->
                            <div class="single-testimonial-caro">
                                <div class="testimonial-caro-bg owl-carousel clearfix">
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/01.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/02.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/03.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/04.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/05.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/06.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/07.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/08.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                </div>
                                <div class="testimonial-txt">
                                    <h3>MURAD &amp; Pinky Wedding</h3>
                                    <h5><i class="fa fa-heart" aria-hidden="true"></i> Got Married on the 22 february, 2017</h5>
                                    <div class="testimonial-para">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolor in reprehenderit in voluptat pariatur.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Venue: <span>Senakunjo Marriage Hall</span></h4>
                                    <h4>Photographer: <a href="photographer-single.html">Shuvo Huq</a></h4>
                                </div>
                            </div><!-- // End Single testimonial carousel -->
                            <!-- Single testimonial carousel -->
                            <div class="single-testimonial-caro">
                                <div class="testimonial-caro-bg owl-carousel clearfix">
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/09.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/10.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/11.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/12.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/13.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/14.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/15.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/16.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                </div>
                                <div class="testimonial-txt">
                                    <h3>Munni &amp; saiful Wedding</h3>
                                    <h5><i class="fa fa-heart" aria-hidden="true"></i> Got Married on the 11 march, 2017</h5>
                                    <div class="testimonial-para">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolor in reprehenderit in voluptat pariatur.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Venue: <span>Dhaka Convention Hall</span></h4>
                                    <h4>Photographer: <a href="photographer-single.html">Moshiur Rahman</a></h4>
                                </div>
                            </div><!-- // End Single testimonial carousel -->
                            <!-- Single testimonial carousel -->
                            <div class="single-testimonial-caro">
                                <div class="testimonial-caro-bg owl-carousel">
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/17.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/18.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/19.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/20.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/21.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/22.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/23.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                    <!-- Testimonial image carousel-->
                                    <div class="testimonial-img" style="background-image: url(./frontend/img/testimonial/24.jpg);">
                                    </div><!-- // End Testimonial image carousel-->
                                </div>
                                <div class="testimonial-txt">
                                    <h3>ripa &amp; mehedi Wedding</h3>
                                    <h5><i class="fa fa-heart" aria-hidden="true"></i> Got Married on the 22 february, 2017</h5>
                                    <div class="testimonial-para">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolor in reprehenderit in voluptat pariatur.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Venue: <span>Rawa Convention Hall</span></h4>
                                    <h4>Photographer: <a href="photographer-single.html">Nurjahan Nur</a></h4>
                                </div>
                            </div><!-- // End Single testimonial carousel -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Testimonial area -->
    <!-- Packages area -->
    <section class="packages-area section-padding">
        <div class="container">
            <!-- Section title -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Packages</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <!-- Packages content -->
            <div class="section-content">
                <div class="bg-title">
                    <span>Pricing table</span>
                </div>
                <div class="row">
                    <!-- Single Package -->
                    <div class="col-md-4">
                        <div class="single-package">
                            <div class="package-hdr">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="lvl-txt">
                                            <h3><span>Level 1</span> Standard</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="price-txt">
                                            <h3>$9<span>/ Photo</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="package-txt">
                                <ul>
                                    <li><div>White Balancing</div></li>
                                    <li><div>Vertical Straightening</div></li>
                                    <li><div>Lens Distortion Removal</div></li>
                                    <li><div>Brightness &amp; Contrast</div></li>
                                    <li><div>Tone Adjustment</div></li>
                                    <li><div>Image Sharpening</div></li>
                                    <li><div>HDR Processing (optional)</div></li>
                                </ul>
                            </div>
                            <div class="package-btn">
                                <a class="theme-btn theme-btn-alt" href="#">Get started <span></span></a>
                            </div>
                        </div>
                    </div><!-- // End Single Package -->
                    <!-- Single Package -->
                    <div class="col-md-4">
                        <div class="single-package">
                            <div class="package-hdr">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="lvl-txt">
                                            <h3><span>Level 2</span> Gold</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="price-txt">
                                            <h3>$14<span>/ Photo</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="package-txt">
                                <ul>
                                    <li><div>Adding Fire to Fireplace</div></li>
                                    <li><div>Remove Minor Blemishes</div></li>
                                    <li><div>Sky Enhancement</div></li>
                                    <li><div>Dead Lightbulb Replacement</div></li>
                                    <li><div>Remove Electrical Cords</div></li>
                                </ul>
                                <h4>Includes All Level 1 Items</h4>
                            </div>
                            <div class="package-btn">
                                <a class="theme-btn" href="#">Get started <span></span></a>
                            </div>
                        </div>
                    </div><!-- // End Single Package -->
                    <!-- Single Package -->
                    <div class="col-md-4">
                        <div class="single-package">
                            <div class="package-hdr">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="lvl-txt">
                                            <h3><span>Level 3</span> Premimum</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="price-txt">
                                            <h3>$30<span>/ Photo</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="package-txt">
                                <ul>
                                    <li><div>Sky Replacement</div></li>
                                    <li><div>Windows Masks / Replacement</div></li>
                                    <li><div>Small Object Removal</div></li>
                                    <li><div>Basic Layer Masking</div></li>
                                    <li><div>Photo Manupulation</div></li>
                                </ul>
                                <h4>Includes All Level 1 &amp; 2 Items</h4>
                            </div>
                            <div class="package-btn">
                                <a class="theme-btn theme-btn-alt" href="#">Get started <span></span></a>
                            </div>
                        </div>
                    </div><!-- // End Single Package -->
                </div>
            </div>
        </div>
    </section><!-- // End Packages area -->
    <!-- Blog area -->
    <section class="blog-area section-padding gray-bg">
        <div class="container">
            <!-- Section title -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Blog</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <!-- Blog content -->
            <div class="section-content">
                <div class="bg-title">
                    <span>Recent news</span>
                </div>
                <div class="row">
                    <!-- Single blog -->
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <span class="about-border-one"></span>
                                <span class="about-border-two"></span>
                                <span class="about-border-three"></span>
                                <span class="about-border-four"></span>
                                <img src="~/frontend/img/blog/01.jpg" alt="">
                            </div>
                            <div class="blog-txt">
                                <h3>Wedding sparish habitant morbi tristique senectus</h3>
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i> Yuafa mahmuda</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 29 march, 2017</li>
                                    <li><i class="fa fa-heart" aria-hidden="true"></i> 210</li>
                                    <li><i class="fa fa-comments" aria-hidden="true"></i> 47</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam,nostrud exercitation ullamco...</p>
                                <a href="blog-single.html">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single blog -->
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <span class="about-border-one"></span>
                                <span class="about-border-two"></span>
                                <span class="about-border-three"></span>
                                <span class="about-border-four"></span>
                                <img src="~/frontend/img/blog/02.jpg" alt="">
                            </div>
                            <div class="blog-txt">
                                <h3>Wedding sparish habitant morbi tristique senectus</h3>
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i> Yuafa mahmuda</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 29 march, 2017</li>
                                    <li><i class="fa fa-heart" aria-hidden="true"></i> 210</li>
                                    <li><i class="fa fa-comments" aria-hidden="true"></i> 47</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam,nostrud exercitation ullamco...</p>
                                <a href="blog-single.html">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog button -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-btn">
                            <a class="theme-btn" href="blog.html">See more <span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End Blog area -->
    <!-- RSVP area -->
    <section class="rsvp-area section-padding">
        <div class="container">
            <!-- Section title -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Rsvp</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <!-- Rsvp form -->
            <div class="section-content">
                <div class="bg-title">
                    <span>Reservation</span>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form class="rsvp-form" action="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Name *">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Address *">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="Email *">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="tel" placeholder="Telephone *">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="default">Event *</option>
                                            <option value="event-one">Event One</option>
                                            <option value="event-two">Event Two</option>
                                            <option value="event-three">Event Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="Date *">
                                            <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="10" placeholder="Message *"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="rsvp-btn">
                                        <button class="theme-btn" type="submit">Submit <span></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- // End RSVP area -->
    <!-- Slide map area -->
    <div class="slide-map-area">
        <div class="map-area" id="home-map"></div><!-- // End Slide map area -->
        <div class="slide-map"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
    </div>
    <!-- Main footer area -->
    <footer class="main-footer-area">
        <!-- Footer top area -->
        <div class="fotter-top-area">
            <div class="container">
                <div class="row">
                    <!-- Footer widgets-->
                    <div class="col-md-3">
                        <div class="footer-widgets">
                            <div class="footer-content">
                                <div class="footer-about">
                                    <!-- Footer logo -->
                                    <a href="index.html"><img src="~/frontend/img/logo.png" alt=""></a>
                                    <p><span>SOULART</span> consequat non tortor. Donec a elit diam, interdum purus. Nam fringillsollicitlectus aliquet velecenas. Ipsum is simply dumy text of the printing and typesetting industry.</p>
                                </div>
                                <!-- Footer social link -->
                                <ul class="footer-social">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- // End Footer widgets-->
                    <!-- Footer widgets-->
                    <div class="col-md-3">
                        <div class="footer-widgets">
                            <div class="footer-title">
                                <h3>Pages</h3>
                            </div>
                            <div class="footer-content">
                                <ul class="footer-pages">
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Donor privacy policy</a></li>
                                    <li><a href="#">Disclaimer</a></li>
                                    <li><a href="#">Copyright Notice</a></li>
                                    <li><a href="#">Privacy policy </a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- // End Footer widgets-->
                    <!-- Footer widgets-->
                    <div class="col-md-3">
                        <div class="footer-widgets">
                            <div class="footer-title">
                                <h3>Twitter feed</h3>
                            </div>
                            <div class="footer-content">
                                <ul class="footer-twitter-feed">
                                    <li>
                                        <a href="#">
                                            <div class="col-xs-1 no-padding">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-xs-11 no-padding">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempor incididunt lab.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="col-xs-1 no-padding">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-xs-11 no-padding">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempor incididunt lab.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="col-xs-1 no-padding">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-xs-11 no-padding">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempor incididunt lab.
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- // End Footer widgets-->
                    <!-- Footer widgets-->
                    <div class="col-md-3">
                        <div class="footer-widgets">
                            <div class="footer-title">
                                <h3>Contact</h3>
                            </div>
                            <div class="footer-content">
                                <ul class="footer-contact">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> + 8801777-222-333</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> soulart@info.com</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> 121 Kafrul Street, Melbrone, Australia- 3200</li>
                                </ul>
                                <div class="footert-newslatter">
                                    <h4>Subscribe your newsleter</h4>
                                    <form action="#">
                                        <div class="input-group margin-bottom-sm">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                                            <input class="form-control" type="email" placeholder="Your e-mail here">
                                            <span class="input-group-addon rsvp-addon"><button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- // End Footer widgets-->
                </div>
            </div>
        </div><!-- // End Footer top area -->
        <!-- Footer bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <p class="copy-right-txt">&copy; Copyright 2017.All right reserved by <a href="index.html">Soulart.</a></p>
                    </div>
                    <div class="col-sm-5">
                        <p class="designby text-right">Design by: <a target="_blank" href="https://themeforest.net/user/yuafaui/portfolio">yuafaui</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- // End Main footer area -->
    <!-- Js File -->
    <script src="~/frontend/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnkFpuHPjRGE2vBvEqdTfOMIjQHpakS1A"></script>
    <script src="~/frontend/js/plugin.js"></script>
    <script src="~/frontend/js/main.js"></script>
    <script>
        /*  ======================================
            Main map
            ====================================== */

            var myCenter = new google.maps.LatLng(40.7128, -74.0059);

            function initialize() {
                var mapProp = {
                    zoom: 12,
                    center: myCenter,
                    disableDefaultUI: true,
                    scrollwheel: false,
                    styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#ec4646"},{"visibility":"on"}]}],
                    mapTpeIdy: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("home-map"), mapProp);
                // Marker js
                var marker = new google.maps.Marker({
                    position : new google.maps.LatLng(40.7128, -74.0059),
                    map : map
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</body>

<!-- Mirrored from hiknik.com/soulart/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Nov 2017 04:20:09 GMT -->
</html>
